openapi: 3.0.2
info:
  contact:
    email: devnet@cisco.com
    name: Cisco DevNet
    url: https://developer.cisco.com/
  description: Unified OpenAPI spec for Cisco Secure Access APIs.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Cisco Secure Access API
  version: v2.0.202510221109
servers:
- url: https://api.sse.cisco.com
- url: https://api.sse.cisco.com/{basePath}
  variables:
    basePath:
      default: deployments/v2
security:
- http: []
- oauthFlow: []
tags:
- name: Internal Networks
- description: API Usage reports
  name: API Usage Report
- name: Applications
- name: Application Categories
- name: Protocols
- name: Identities
- description: Manage the application lists and the internet destinations in the application
    lists.
  name: Application Lists
- description: The Content Category settings.
  name: Content Categories
- description: Destination Lists
  name: Destination Lists
- description: Destinations
  name: Destinations
- name: DNS Forwarders
- name: Internal Domains
- name: Domain Status and Categorization
- name: Domain Volume
- name: Co-occurrences for a Domain
- name: Passive DNS
- name: Tagging Timeline
- name: Subdomains for a Domain
- name: Related Domains for a Domain
- name: Security Information for a Domain
- name: AS Information for a Domain
- name: WHOIS Information for a Domain
- name: Popularity List-Top Million Domains
- name: Search Domain
- name: Cisco Secure Malware Analytics Integration
- description: The IPS profiles with signatures.
  name: IPS Profiles
- name: API Keys
- name: Usage Metrics
- description: Manage the Network Objects in the organization.
  name: Network Objects
- description: Manage the Network Object Groups in the organization.
  name: Network Object Groups
- description: Manage the Service Objects in the organization.
  name: Service Objects
- description: Manage the Service Object Groups in the organization.
  name: Service Object Groups
- description: List the Objects and Object Groups in the organization.
  name: Unified Objects
- description: Secure Access Network Device Management
  name: Network Devices
- description: Network Tunnel Groups API endpoints
  name: Network Tunnel Groups
- description: Network Tunnel Groups Regions API endpoints
  name: Network Tunnel Groups Regions
- description: Network Tunnel Groups State API endpoints
  name: Network Tunnel Groups State
- description: Network Tunnel Groups Peer State API endpoints
  name: Network Tunnel Groups Peer State
- name: Networks
- description: The API endpoints that manage the access rules for the organization.
  name: Access Rules
- description: The API endpoints that manage the rule settings and defaults on the
    access rules.
  name: Rule Settings and Defaults
- description: The Secure Access Private Resource Groups
  name: Resource Groups
- description: The Secure Access Private Resources
  name: Private Resources
- name: Activity
- name: Top Identities
- name: Identity Distribution
- name: Top Resources
- name: Top Destinations
- name: Top Categories
- name: Top Event Types
- name: Top DNS Query Types
- name: Organization Requests by Hour
- name: Organization Requests by Timerange
- name: Organization Requests by Hour and Category
- name: Organization Requests by Timerange and Category
- name: Deployment Status
- name: Bandwidth by Hour
- name: Bandwidth by Timerange
- name: Top Files
- name: Total Requests
- name: Top Threats
- name: Top Threat Types
- name: Utility
- name: Top IPs
- name: Summary
- name: Summaries by Category
- name: Summaries by Destination
- name: Summaries by Rule
- name: Remote Access
- name: Private Resource
- name: Requests Resource Connector
- name: Requests Summary Resource Connector Groups
- name: Resource Connectors
- name: Rules Activity
- name: Unique Resources
- description: Manage the Resource Connector Groups.
  name: Connector Groups
- description: Manage the Resource Connectors.
  name: Connectors
- name: Roaming Computers
- name: Organization Information
- name: S3 Bucket Key Rotation
- description: The Security profiles in the organization.
  name: Security Profiles
- name: Sites
- description: The Tenant Controls Profiles settings.
  name: Tenant Controls Profiles
- description: Integration management
  name: Integrations
- description: Credential management
  name: Credentials
- description: Integration types
  name: Integration Types
- description: Manage the threat feeds for the third-party and custom security vendors.
  name: Feeds
- name: Token
- name: VPN Sessions
- name: ACME Client Certificates
paths:
  /admin/v2/apiKeys:
    get:
      description: List the API keys created by your organization.
      operationId: getAPIKeys
      parameters:
      - $ref: '#/components/parameters/keyAdminOffset'
      - $ref: '#/components/parameters/keyAdminLimit'
      responses:
        '200':
          $ref: '#/components/responses/KeysResponseList'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:read
      summary: List API Keys
      tags:
      - API Keys
    post:
      description: 'Create an API key with certain scopes, name, description, allowed
        IP addresses and CIDR blocks, and expiration.

        The `description` and `allowedIPs` fields are optional.'
      operationId: createAPIKeys
      requestBody:
        $ref: '#/components/requestBodies/KeysRequest'
      responses:
        '201':
          $ref: '#/components/responses/KeyResponseWithSecret'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '409':
          $ref: '#/components/responses/alreadyExistsError'
        '415':
          $ref: '#/components/responses/unsupportedMediaError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:create
      summary: Create API Key
      tags:
      - API Keys
  /admin/v2/apiKeys/{apiKeyId}:
    delete:
      description: Delete an API key.
      operationId: deleteAPIKey
      parameters:
      - $ref: '#/components/parameters/apiKeyId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:delete
      summary: Delete API Key
      tags:
      - API Keys
    get:
      description: Get an API key.
      operationId: getAPIKey
      parameters:
      - $ref: '#/components/parameters/apiKeyId'
      responses:
        '200':
          $ref: '#/components/responses/KeyResponse'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:read
      summary: Get API Key
      tags:
      - API Keys
    patch:
      description: 'Set new values for the name, description, scopes, or allowed IPs
        for an API key.

        The system does not accept the same value for the properties of the API key.'
      operationId: patchAPIKey
      parameters:
      - $ref: '#/components/parameters/apiKeyId'
      requestBody:
        $ref: '#/components/requestBodies/KeyRequestPatch'
      responses:
        '200':
          $ref: '#/components/responses/KeyResponse'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '415':
          $ref: '#/components/responses/unsupportedMediaError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:update
      summary: Update API Key
      tags:
      - API Keys
  /admin/v2/apiKeys/{apiKeyId}/refresh:
    post:
      description: Refresh the API key and secret.
      operationId: refreshApiKey
      parameters:
      - $ref: '#/components/parameters/apiKeyId'
      responses:
        '200':
          $ref: '#/components/responses/KeyResponseRefreshSecret'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '415':
          $ref: '#/components/responses/unsupportedMediaError'
        '503':
          $ref: '#/components/responses/serviceUnavailableError'
        default:
          $ref: '#/components/responses/invalidRequestError'
      security:
      - oauthFlow:
        - admin.apikeys:refresh
      summary: Refresh API Key
      tags:
      - API Keys
  /admin/v2/iam/rotateKey:
    post:
      description: Rotate the Cisco-managed S3 bucket key for the organization.
      operationId: createS3BucketKey
      responses:
        '200':
          content:
            application/json:
              example:
                currentKeyId: AKIARB5FPGFNZR3BZAXN
                keyCreationDate: 2025-03-12 22:00:00
                oldKeyId: AKIAYGSCHXQI2NAWY4UZ
                secretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
              schema:
                $ref: '#/components/schemas/KeyRotation'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/s3BucketDate'
        '400':
          $ref: '#/components/responses/s3Bucket400Error'
        '401':
          $ref: '#/components/responses/s3Bucket401Error'
        '403':
          $ref: '#/components/responses/s3Bucket403Error'
        '404':
          $ref: '#/components/responses/s3Bucket404Error'
        '500':
          $ref: '#/components/responses/s3Bucket500Error'
      security:
      - oauthFlow:
        - admin.iam:write
      summary: Refresh S3 Bucket Key
      tags:
      - S3 Bucket Key Rotation
  /admin/v2/integrationTypes:
    get:
      description: List the types of the third-party applications integrated in the
        organization.
      operationId: getIntegrationTypes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntTypesOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:read
      summary: List Types of Integrations
      tags:
      - Integration Types
  /admin/v2/integrations:
    get:
      description: List the third-party applications integrated in the organization.
        Filter the collection by `type` and `status`.
      operationId: getIntegrations
      parameters:
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/thirdPartyIntegrationsType'
      - $ref: '#/components/parameters/thirdPartyIntegrationsOffset'
      - $ref: '#/components/parameters/thirdPartyIntegrationsLimit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:read
      summary: List Integrations
      tags:
      - Integrations
    post:
      description: Create a third-party integration in the organization.
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationInputBody'
        required: 'true'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOutputBody'
          description: Created
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
            Location:
              description: The URL of the created integration.
              schema:
                example: https://api.sse.cisco.com/admin/v2/integrations/12345
                type: string
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:write
      summary: Create Integration
      tags:
      - Integrations
  /admin/v2/integrations/{intId}:
    delete:
      description: Delete an integration in the organization.
      operationId: deleteIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:write
      summary: Delete Integration
      tags:
      - Integrations
    get:
      description: Get an integration by ID.
      operationId: getIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:read
      summary: Get Integration
      tags:
      - Integrations
    patch:
      description: Update an integration in the organization.
      operationId: updateIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchInputBody'
        required: 'true'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchIntegrationOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:write
      summary: Update Integration
      tags:
      - Integrations
  /admin/v2/integrations/{intId}/credentials:
    post:
      description: Create the credentials for a third-party application integrated
        in the organization.
      operationId: createCredentialsForIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationCredentialInputBody'
        required: 'true'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOutputBody'
          description: Created
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
            Location:
              description: The URL of the created credentials.
              schema:
                example: https://api.sse.cisco.com/admin/v2/integrations/123/credentials/456
                type: string
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:write
      summary: Create Credentials for Integration
      tags:
      - Credentials
  /admin/v2/integrations/{intId}/credentials/{credId}:
    get:
      description: Get the credentials by ID for an integration.
      operationId: getCredentialsForIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      - $ref: '#/components/parameters/credentialId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCredentialOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:read
      summary: Get Credentials for Integration
      tags:
      - Credentials
  /admin/v2/integrations/{intId}/credentials/{credId}/value:
    get:
      description: Get the value of the credentials for the integration.
      operationId: getCredentialsforIntegration
      parameters:
      - $ref: '#/components/parameters/integrationId'
      - $ref: '#/components/parameters/credentialId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValueOutputBody'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/thirdPartyIntegrationsDate'
        '400':
          $ref: '#/components/responses/thirdPartyIntegrations400Error'
        '401':
          $ref: '#/components/responses/thirdPartyIntegrations401Error'
        '403':
          $ref: '#/components/responses/thirdPartyIntegrations403Error'
        '404':
          $ref: '#/components/responses/thirdPartyIntegrations404Error'
        '500':
          $ref: '#/components/responses/thirdPartyIntegrations500Error'
      security:
      - oauthFlow:
        - admin.integrations:read
      summary: Get Value of Credentials for Integration
      tags:
      - Credentials
  /admin/v2/vpn/userConnections:
    get:
      description: List the VPN sessions created by your organization.
      operationId: getVpnSessions
      parameters:
      - $ref: '#/components/parameters/vpnUserConnectionsOffset'
      - $ref: '#/components/parameters/vpnUserConnectionsLimit'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/profileName'
      - $ref: '#/components/parameters/vpnUserConnectionsSortBy'
      - $ref: '#/components/parameters/vpnUserConnectionsSortOrder'
      - $ref: '#/components/parameters/usernames'
      responses:
        '200':
          $ref: '#/components/responses/ListVpnSessions'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.vpn:read
      summary: List VPN Connections
      tags:
      - VPN Sessions
    put:
      description: Disconnect the remote VPN sessions.
      operationId: updateVpnConnections
      requestBody:
        $ref: '#/components/requestBodies/VpnSessionsUpdate'
      responses:
        '200':
          $ref: '#/components/responses/TerminateSessionsResponse'
        '207':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateSessions'
          description: Multi-Status
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.vpn:write
      summary: Disconnect VPN Users
      tags:
      - VPN Sessions
  /admin/v2/ztna/userSummaries:
    get:
      description: Get the status and counts of device certificates for the zero trust
        users.
      operationId: getCountsZtaDeviceCertificates
      parameters:
      - $ref: '#/components/parameters/userIds'
      responses:
        '200':
          $ref: '#/components/responses/userSummariesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/zeroTrustUserDevicesUnauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.ztna.users:read
      summary: Get Counts Device Certificates
      tags:
      - ACME Client Certificates
  /admin/v2/ztna/users/{userId}/deviceCertificates:
    get:
      description: Get the latest ACME-issued device certificates for the zero trust
        user.
      operationId: getZtaAllDeviceCertificates
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          $ref: '#/components/responses/userDeviceCertificatesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/zeroTrustUserDevicesUnauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.ztna.certificates:read
      summary: List Certificates for User
      tags:
      - ACME Client Certificates
  /admin/v2/ztna/users/{userId}/devices/{deviceId}:
    delete:
      description: Revoke active ACME-issued certificates and remove the zero trust
        user device.
      operationId: deleteZtaDeviceCertificates
      parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/zeroTrustUserDevicesDeviceId'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/zeroTrustUserDevicesUnauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.ztna.enrollment:write
      summary: Revoke Certificates for Device
      tags:
      - ACME Client Certificates
  /admin/v2/ztna/users/{userId}/devices/{deviceId}/certificates:
    get:
      description: Get the latest ACME-issued certificate for the zero trust user
        and device.
      operationId: getZtaDeviceCertificates
      parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/zeroTrustUserDevicesDeviceId'
      responses:
        '200':
          $ref: '#/components/responses/deviceCertificateResponse'
        '400':
          $ref: '#/components/responses/invalidRequestError'
        '401':
          $ref: '#/components/responses/zeroTrustUserDevicesUnauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      security:
      - oauthFlow:
        - admin.ztna.devices:read
      summary: List Certificates for Device
      tags:
      - ACME Client Certificates
  /auth/v2/token:
    post:
      description: Create an authorization token.
      operationId: createAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            example:
              grant_type: client_credentials
            schema:
              description: The authentication information that is required to create
                an access token.
              properties:
                grant_type:
                  description: The type of client grant type.
                  enum:
                  - client_credentials
                  example: client_credentials
                  type: string
              required:
              - grant_type
              type: object
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: xxxxxx
                expires_in: 3600
                token_type: bearer
              schema:
                $ref: '#/components/schemas/Token'
          description: OK
        '400':
          $ref: '#/components/responses/tokenAuthorization400Error'
        '401':
          $ref: '#/components/responses/tokenAuthorization401Error'
        '403':
          $ref: '#/components/responses/tokenAuthorization403Error'
        '404':
          $ref: '#/components/responses/tokenAuthorization404Error'
        '500':
          $ref: '#/components/responses/tokenAuthorization500Error'
      summary: Create Authorization Token
      tags:
      - Token
  /deployments/v2/connectorAgents:
    get:
      description: 'List the Connectors for the Resouce Connector Groups in the organization.

        If you include query filters on the request, the response is a subset of the
        Connectors in the organization.'
      operationId: listConnectors
      parameters:
      - $ref: '#/components/parameters/filtersConnectorAgents'
      - $ref: '#/components/parameters/resourceConnectorGroupsOffset'
      - $ref: '#/components/parameters/resourceConnectorGroupsLimit'
      - $ref: '#/components/parameters/sortByConnectorAgent'
      - $ref: '#/components/parameters/resourceConnectorGroupsSortOrder'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - confirmed: true
                  createdAt: '2023-03-14T18:34:25.412525046Z'
                  enabled: 'true'
                  groupId: 123964
                  hostname: i-0123456789abcdef.us-west-2.compute.internal
                  id: 123456
                  instanceId: i-04568b6cdaeedda25a
                  modifiedAt: '2023-03-14T18:34:25.412525046Z'
                  originIpAddress: 10.45.102.214
                  revoked_at: '2023-03-14T18:34:25.412525046Z'
                  sha1: 2aae6c35c94fcfb415dbe95f408b9ce91ee846ed
                  status: connected
                  statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
                  version: v10.1
                limit: 50
                offset: 1
                total: 100
              schema:
                $ref: '#/components/schemas/connectorListRes'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: List Connectors
      tags:
      - Connectors
  /deployments/v2/connectorAgents/{id}:
    delete:
      description: Remove the Connector from the Resource Connector Group in the organization.
      operationId: deleteConnector
      parameters:
      - $ref: '#/components/parameters/idConnector'
      responses:
        '204':
          content:
            application/json:
              example: ''
              schema:
                format: nullable
                type: string
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Delete Connector
      tags:
      - Connectors
    get:
      description: Get the details about a Connector.
      operationId: getConnector
      parameters:
      - $ref: '#/components/parameters/idConnector'
      responses:
        '200':
          content:
            application/json:
              example:
                baseVersion: '240127'
                confirmed: 'true'
                createdAt: '2023-03-14T18:34:25.412525046Z'
                enabled: 'true'
                groupId: 123964
                hostname: i-0123456789abcdef.us-west-2.compute.internal
                id: 123456
                instanceId: i-04568b6cdaeedda25a
                isLatestBaseVersion: 'true'
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                originIpAddress: 10.45.102.214
                revoked_at: '2023-03-14T18:34:25.412525046Z'
                sha1: 2aae6c35c94fcfb415dbe95f408b9ce91ee846ed
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
                upgradeStatus: successful
                version: v10.1
              schema:
                $ref: '#/components/schemas/connectorResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: Get Connector
      tags:
      - Connectors
    patch:
      description: Update the properties on the Connector.
      operationId: patchConnector
      parameters:
      - $ref: '#/components/parameters/idConnector'
      requestBody:
        content:
          application/json:
            example:
            - op: replace
              path: /confirmed
              value: 'true'
            schema:
              $ref: '#/components/schemas/connectorPatchReq'
        description: Update the properties on the Connector.
      responses:
        '200':
          content:
            application/json:
              example:
                baseVersion: '240127'
                confirmed: 'true'
                createdAt: '2023-03-14T18:34:25.412525046Z'
                enabled: 'true'
                groupId: 123964
                hostname: i-0123456789abcdef.us-west-2.compute.internal
                id: 123456
                instanceId: i-04568b6cdaeedda25a
                isLatestBaseVersion: 'true'
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                originIpAddress: 10.45.102.214
                revoked_at: '2023-03-14T18:34:25.412525046Z'
                sha1: 2aae6c35c94fcfb415dbe95f408b9ce91ee846ed
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
                upgradeStatus: successful
                version: v10.1
              schema:
                $ref: '#/components/schemas/connectorResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ConnectorAgentError'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Patch Connector
      tags:
      - Connectors
  /deployments/v2/connectorAgents/counts:
    get:
      description: Get the counts of the state information for the Connectors.
      operationId: getConnectorAgentCount
      responses:
        '200':
          content:
            resource/json:
              example:
                announced: 1
                connected: 3
                disabled: 4
                disconnected: 3
                expired: 2
                reachable: 0
                total: 15
                upgrading: 2
              schema:
                $ref: '#/components/schemas/connectorCountsResponse'
          description: OK
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: Get Counts Connectors States
      tags:
      - Connectors
  /deployments/v2/connectorGroups:
    get:
      description: 'List the Resource Connector Groups in the organization.

        If you include `filters` on the request, the response is a subset of the Resource
        Connector Groups in the organization.'
      operationId: listConnectorGroups
      parameters:
      - $ref: '#/components/parameters/includeProvisioningKey'
      - $ref: '#/components/parameters/filtersConnectorGroups'
      - $ref: '#/components/parameters/resourceConnectorGroupsOffset'
      - $ref: '#/components/parameters/resourceConnectorGroupsLimit'
      - $ref: '#/components/parameters/sortByConnectorGroup'
      - $ref: '#/components/parameters/resourceConnectorGroupsSortOrder'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - baseImageDownloadUrl: https://foo.bar.com/baseimage
                  connectorsCount: 5
                  createdAt: '2023-03-14T18:34:25.412525046Z'
                  environment: aws
                  id: 123456
                  location: us-west-2
                  modifiedAt: '2023-03-14T18:34:25.412525046Z'
                  name: NYC Connector Group
                  provisioningKey: Zm9vYmFyYmF6MTIzNDU2Nzg5MDpiYXJmb29iYXoxMjM0NTY3ODkw
                  provisioningKeyExpiresAt: '2023-03-14T18:34:25.412525046Z'
                  resourceIds:
                  - 12
                  - 34
                  status: connected
                  statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
                limit: 50
                offset: 1
                total: 100
              schema:
                $ref: '#/components/schemas/connectorGroupList'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ConnectorGroupError'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: List Resource Connector Groups
      tags:
      - Connector Groups
    post:
      description: Create a Resource Connector Group in the organization.
      operationId: createConnectorGroup
      requestBody:
        content:
          application/json:
            example:
              environment: aws
              location: us-west-2
              name: NYC Connector Group
            schema:
              $ref: '#/components/schemas/connectorGroupReq'
        description: Create a Resource Connector Group.
      responses:
        '201':
          content:
            application/json:
              example:
                baseImageDownloadUrl: https://foo.bar.com/baseimage
                connectorsCount: 5
                createdAt: '2023-03-14T18:34:25.412525046Z'
                disconnectedConnectorsCount: 2
                environment: aws
                id: 1234567.0
                location: us-west-2
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                name: NYC Connector Group
                provisioningKey: Zm9vYmFyYmF6MTIzNDU2Nzg5MDpiYXJmb29iYXoxMjM0NTY3ODkw
                provisioningKeyExpiresAt: '2023-03-14T18:34:25.412525046Z'
                resourceIds:
                - 12
                - 34
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
              schema:
                $ref: '#/components/schemas/connectorGroupResponse'
          description: Created
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ConnectorGroupError'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '409':
          $ref: '#/components/responses/409Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Create Resource Connector Group
      tags:
      - Connector Groups
  /deployments/v2/connectorGroups/{id}:
    delete:
      description: Delete the Resouce Connector Group, including the Connectors in
        the Resource Connector Group.
      operationId: deleteConnectorGroup
      parameters:
      - $ref: '#/components/parameters/idConnectorGroup'
      responses:
        '204':
          content:
            application/json:
              example: ''
              schema:
                format: nullable
                type: string
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Delete Resource Connector Group
      tags:
      - Connector Groups
    get:
      description: Get the details about a Resource Connector Group.
      operationId: getConnectorGroup
      parameters:
      - $ref: '#/components/parameters/idConnectorGroup'
      - $ref: '#/components/parameters/includeProvisioningKey'
      responses:
        '200':
          content:
            application/json:
              example:
                baseImageDownloadUrl: https://foo.bar.com/baseimage
                connectorsCount: 5
                createdAt: '2023-03-14T18:34:25.412525046Z'
                disconnectedConnectorsCount: 2
                environment: aws
                id: 1234567.0
                location: us-west-2
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                name: NYC Connector Group
                provisioningKey: Zm9vYmFyYmF6MTIzNDU2Nzg5MDpiYXJmb29iYXoxMjM0NTY3ODkw
                provisioningKeyExpiresAt: '2023-03-14T18:34:25.412525046Z'
                resourceIds:
                - 12
                - 34
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
              schema:
                $ref: '#/components/schemas/connectorGroupResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: Get Resource Connector Group
      tags:
      - Connector Groups
    patch:
      description: 'Update the `name` or `location` properties on the Resource Connector
        Group, or

        refresh the Resource Connector Group''s provisioning key.'
      operationId: patchConnectorGroup
      parameters:
      - $ref: '#/components/parameters/idConnectorGroup'
      requestBody:
        content:
          application/json:
            example:
            - op: replace
              path: /provisioningKey
              value: ''
            schema:
              $ref: '#/components/schemas/connectorGroupPatchReq'
        description: Set the properties on the Connector Group.
      responses:
        '200':
          content:
            application/json:
              example:
                baseImageDownloadUrl: https://foo.bar.com/baseimage
                connectorsCount: 5
                createdAt: '2023-03-14T18:34:25.412525046Z'
                disconnectedConnectorsCount: 2
                environment: aws
                id: 1234567.0
                location: us-west-2
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                name: NYC Connector Group
                provisioningKey: Zm9vYmFyYmF6MTIzNDU2Nzg5MDpiYXJmb29iYXoxMjM0NTY3ODkw
                provisioningKeyExpiresAt: '2023-03-14T18:34:25.412525046Z'
                resourceIds:
                - 12
                - 34
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
              schema:
                $ref: '#/components/schemas/connectorGroupResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ConnectorGroupError'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Patch Resource Connector Group
      tags:
      - Connector Groups
    put:
      description: Update the `name` and `location` properties on the Resource Connector
        Group.
      operationId: putConnectorGroup
      parameters:
      - $ref: '#/components/parameters/idConnectorGroup'
      requestBody:
        content:
          application/json:
            example:
              environment: aws
              location: us-west-2
              name: NYC Connector Group
            schema:
              $ref: '#/components/schemas/connectorGroupReq'
        description: Set the properties on the Resource Connector Group.
      responses:
        '200':
          content:
            application/json:
              example:
                baseImageDownloadUrl: https://foo.bar.com/baseimage
                connectorsCount: 5
                createdAt: '2023-03-14T18:34:25.412525046Z'
                disconnectedConnectorsCount: 2
                environment: aws
                id: 1234567.0
                location: us-west-2
                modifiedAt: '2023-03-14T18:34:25.412525046Z'
                name: NYC Connector Group
                provisioningKey: Zm9vYmFyYmF6MTIzNDU2Nzg5MDpiYXJmb29iYXoxMjM0NTY3ODkw
                provisioningKeyExpiresAt: '2023-03-14T18:34:25.412525046Z'
                resourceIds:
                - 12
                - 34
                status: connected
                statusUpdatedAt: '2023-03-14T18:34:25.412525046Z'
              schema:
                $ref: '#/components/schemas/connectorGroupResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ConnectorGroupError'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:write
      summary: Update Resource Connector Group
      tags:
      - Connector Groups
  /deployments/v2/connectorGroups/counts:
    get:
      description: Get the counts of the state information for the Resource Connector
        Groups.
      operationId: getConnectorGroupCount
      responses:
        '200':
          content:
            resource/json:
              example:
                connected: 3
                disabled: 4
                disconnected: 3
                hasDisconnectedConnector: 2
                noAssignedResources: 0
                total: 14
                waiting: 2
              schema:
                $ref: '#/components/schemas/connectorGroupCountsResponse'
          description: OK
        '400':
          $ref: '#/components/responses/resourceConnectorGroups400Error'
        '401':
          $ref: '#/components/responses/resourceConnectorGroups401Error'
        '403':
          $ref: '#/components/responses/resourceConnectorGroups403Error'
        '404':
          $ref: '#/components/responses/resourceConnectorGroups404Error'
        '500':
          $ref: '#/components/responses/resourceConnectorGroups500Error'
      security:
      - oauthFlow:
        - deployments.resourceconnectors:read
      summary: Get Counts Resource Connector Groups States
      tags:
      - Connector Groups
  /deployments/v2/dnsForwarders:
    get:
      description: List the DNS Forwarders in the organization.
      operationId: listDnsForwarders
      parameters:
      - $ref: '#/components/parameters/dnsForwardersPaginationPageParam'
      - $ref: '#/components/parameters/dnsForwardersPaginationLimitParam'
      - $ref: '#/components/parameters/typeParam'
      responses:
        '200':
          content:
            application/json:
              example:
              - createdAt: '2025-02-09T22:18:26.625Z'
                health: unknown
                isUpgradable: 'false'
                modifiedAt: '2025-02-09T22:18:26.625Z'
                name: dns-forwarder-one
                originId: 124566
                settings:
                  externalIP: 10.211.204.133
                  internalIPs:
                  - 1.1.1.1
                state: {}
                stateUpdatedAt: '2025-02-13T16:07:07.222Z'
                type: network_dns_forwarder
              schema:
                $ref: '#/components/schemas/DNSForwarderListResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/dnsForwarders500Error'
      security:
      - oauthFlow:
        - deployments.dnsforwarders:read
      summary: List DNS Forwarders
      tags:
      - DNS Forwarders
    post:
      description: Add a DNS Forwarder in the organization.
      operationId: createDnsForwarder
      requestBody:
        $ref: '#/components/requestBodies/DNSForwarderCreateRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                asset_id: 646404381.0
                type: network_dns_forwarder
              schema:
                $ref: '#/components/schemas/DNSForwarderCreateResponse'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/dnsForwarders500Error'
      security:
      - oauthFlow:
        - deployments.dnsforwarders:write
      summary: Create DNS Forwarder
      tags:
      - DNS Forwarders
  /deployments/v2/dnsForwarders/{dnsForwardersId}:
    delete:
      description: Remove the registered DNS Forwarder in the organization.
      operationId: deleteDnsForwarder
      parameters:
      - $ref: '#/components/parameters/dnsforwardersId'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/dnsForwarders500Error'
      security:
      - oauthFlow:
        - deployments.dnsforwarders:write
      summary: Delete DNS Forwarder
      tags:
      - DNS Forwarders
    get:
      description: Get the properties for a DNS Forwarder.
      operationId: getDnsForwarder
      parameters:
      - $ref: '#/components/parameters/dnsforwardersId'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2025-02-09T22:18:26.625Z'
                health: unknown
                isUpgradable: 'false'
                modifiedAt: '2025-02-09T22:18:26.625Z'
                name: dns-forwarder-one
                originId: 124566
                settings:
                  externalIP: 10.211.204.133
                  internalIPs:
                  - 1.1.1.1
                siteId: 6689200.0
                state: {}
                stateUpdatedAt: '2025-02-13T16:07:07.222Z'
                type: network_dns_forwarder
              schema:
                $ref: '#/components/schemas/DNSForwarderObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/dnsForwarders500Error'
      security:
      - oauthFlow:
        - deployments.dnsforwarders:read
      summary: Get DNS Forwarder
      tags:
      - DNS Forwarders
    put:
      description: Update the properties of a DNS Forwarder.
      operationId: updateDnsForwarder
      parameters:
      - $ref: '#/components/parameters/dnsforwardersId'
      requestBody:
        $ref: '#/components/requestBodies/DNSForwarderUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2025-02-09T22:18:26.625Z'
                health: unknown
                isUpgradable: 'false'
                modifiedAt: '2025-02-09T22:18:26.625Z'
                name: dns-forwarder-one
                originId: 124566
                settings:
                  externalIP: 10.211.204.133
                  internalIPs:
                  - 1.1.1.1
                siteId: 6689200.0
                state: {}
                stateUpdatedAt: '2025-02-13T16:07:07.222Z'
                type: network_dns_forwarder
              schema:
                $ref: '#/components/schemas/DNSForwarderObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/dnsForwarders500Error'
      security:
      - oauthFlow:
        - deployments.dnsforwarders:write
      summary: Update DNS Forwarder
      tags:
      - DNS Forwarders
  /deployments/v2/identities/registrations/{type}:
    get:
      description: Get the list of identity endpoints or security group tags (SGTs)
        for the identities in the organization.
      operationId: getIdentities
      parameters:
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/label'
      - $ref: '#/components/parameters/identitiesRegistrationOffset'
      - $ref: '#/components/parameters/identitiesRegistrationLimit'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - authName: auth_device_alpha
                  createdAt: 1.7538705252331596e+19
                  key: 123e4567-e89b-12d3-a456-426614174001
                  label: Device Alpha
                  modifiedAt: 1.7538705252331597e+18
                  status: active
                - authName: auth_device_beta
                  createdAt: 1.7538705252331597e+18
                  key: 123e4567-e89b-12d3-a456-426614174002
                  label: Device Beta
                  modifiedAt: 1.7538705252331597e+18
                  status: inactive
                limit: 100
                offset: 1
                total: 2
              schema:
                description: The metadata for the response and the list of identity
                  endpoints or security group tags in the collection.
                properties:
                  data:
                    $ref: '#/components/schemas/IdentitiesGetResponse'
                  limit:
                    $ref: '#/components/schemas/limit'
                  offset:
                    $ref: '#/components/schemas/offset'
                  total:
                    $ref: '#/components/schemas/total'
                required:
                - total
                - limit
                - offset
                - data
                type: object
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/identitiesRegistration400Error'
        '401':
          $ref: '#/components/responses/identitiesRegistration401Error'
        '403':
          $ref: '#/components/responses/identitiesRegistration403Error'
        '404':
          $ref: '#/components/responses/identitiesRegistration404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '500':
          $ref: '#/components/responses/identitiesRegistration500Error'
      security:
      - oauthFlow:
        - deployments.identities:read
      summary: List Identities
      tags:
      - Identities
    put:
      description: "* Use the `PUT` operation to add a list of identity devices or\
        \ security group tags (SGTs) in the organization. For each API operation,\
        \ you can add 1\u2013250 identity devices\n  or security group tags.\n* Use\
        \ the `PUT` operation to modify the properties of the identities registered\
        \ in the organization.\n  When you set the `status` field of an identity endpoint\
        \ or security group tag to `inactive`, Secure Access makes the identity inactive\
        \ in the organization\n  and the identity is not managed or protected by the\
        \ configured access rules and security controls in the Access policy."
      operationId: updateIdentities
      parameters:
      - $ref: '#/components/parameters/type'
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentities'
      responses:
        '200':
          content:
            application/json:
              example:
                success: 'true'
              schema:
                properties:
                  success:
                    description: Indicates whether the system updated the identities.
                    example: 'false'
                    type: boolean
                type: object
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/identitiesRegistration400Error'
        '401':
          $ref: '#/components/responses/identitiesRegistration401Error'
        '403':
          $ref: '#/components/responses/identitiesRegistration403Error'
        '404':
          $ref: '#/components/responses/identitiesRegistration404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '500':
          $ref: '#/components/responses/identitiesRegistration500Error'
      security:
      - oauthFlow:
        - deployments.identities:write
      summary: Update Identities
      tags:
      - Identities
  /deployments/v2/internaldomains:
    get:
      description: List the internal domains.
      operationId: listInternalDomains
      parameters:
      - $ref: '#/components/parameters/internalDomainsPaginationPageParam'
      - $ref: '#/components/parameters/internalDomainsPaginationLimitParam'
      responses:
        '200':
          content:
            application/json:
              example:
              - createdAt: '2020-03-09T22:18:26.625Z'
                description: Internal domain description
                domain: Internal domain name
                id: 1234
                includeAllMobileDevices: 'false'
                includeAllVAs: 'false'
                modifiedAt: '2020-03-09T22:18:26.625Z'
                siteIds: []
              schema:
                items:
                  $ref: '#/components/schemas/InternalDomainObject'
                type: array
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internaldomains:read
      summary: List Internal Domains
      tags:
      - Internal Domains
    post:
      description: 'Create an internal domain. If you do not assign a list of sites
        to the internal domain, the internal domain

        is associated with all sites in the organization.'
      operationId: createInternalDomain
      requestBody:
        $ref: '#/components/requestBodies/internalDomain'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                description: internal domain description
                domain: Internal domain name
                id: 1234
                includeAllMobileDevices: 'false'
                includeAllVAs: 'false'
                modifiedAt: '2020-03-09T22:18:26.625Z'
                siteIds:
                - 928250
                - 6244410.0
              schema:
                $ref: '#/components/schemas/InternalDomainObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internaldomains:write
      summary: Create Internal Domain
      tags:
      - Internal Domains
  /deployments/v2/internaldomains/{internalDomainId}:
    delete:
      description: Delete an internal domain.
      operationId: deleteInternalDomain
      parameters:
      - $ref: '#/components/parameters/internalDomainId'
      responses:
        '204':
          content:
            application/json:
              schema:
                nullable: 'true'
                type: string
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internaldomains:write
      summary: Delete Internal Domain
      tags:
      - Internal Domains
    get:
      description: Get an internal domain.
      operationId: getInternalDomain
      parameters:
      - $ref: '#/components/parameters/internalDomainId'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                description: Internal domain description
                domain: Internal domain name
                id: 1234
                includeAllMobileDevices: 'false'
                includeAllVAs: 'false'
                modifiedAt: '2020-03-09T22:18:26.625Z'
                siteIds: []
              schema:
                $ref: '#/components/schemas/InternalDomainObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internaldomains:read
      summary: Get Internal Domain
      tags:
      - Internal Domains
    put:
      description: Update an internal domain.
      operationId: updateInternalDomain
      parameters:
      - $ref: '#/components/parameters/internalDomainId'
      requestBody:
        $ref: '#/components/requestBodies/internalDomain'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                description: Internal domain description
                domain: Internal domain name
                id: 1234
                includeAllMobileDevices: 'false'
                includeAllVAs: 'false'
                modifiedAt: '2020-03-09T22:18:26.625Z'
                siteIds:
                - 928250
                - 6244410.0
              schema:
                $ref: '#/components/schemas/InternalDomainObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internaldomains:write
      summary: Update Internal Domain
      tags:
      - Internal Domains
  /deployments/v2/internalnetworks:
    get:
      description: List the internal networks.
      operationId: listInternalNetworks
      parameters:
      - $ref: '#/components/parameters/paginationPageParam'
      - $ref: '#/components/parameters/paginationLimitParam'
      - description: internal network label
        in: query
        name: name
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
              - createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: 198.5.4.3
                modifiedAt: '2020-03-09T22:18:26.625Z'
                name: internal network label
                originId: 1234
                prefixLength: 24
                siteId: 2
                siteName: Site name
              schema:
                items:
                  $ref: '#/components/schemas/InternalNetworkObject'
                type: array
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internalnetworks:read
      summary: List Internal Networks
      tags:
      - Internal Networks
    post:
      description: Create an internal network.
      operationId: createInternalNetwork
      requestBody:
        $ref: '#/components/requestBodies/InternalNetworkRequestBody'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: 198.2.3.1
                modifiedAt: '2020-03-09T22:18:26.625Z'
                name: internal network label
                originId: 1234
                prefixLength: 24
                siteId: 2
                siteName: Site name
              schema:
                $ref: '#/components/schemas/InternalNetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internalnetworks:write
      summary: Create Internal Network
      tags:
      - Internal Networks
  /deployments/v2/internalnetworks/{internalNetworkId}:
    delete:
      description: Delete an internal network.
      operationId: deleteInternalNetwork
      parameters:
      - description: The origin ID (originId) of the internal network.
        in: path
        name: internalNetworkId
        required: 'true'
        schema:
          type: integer
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internalnetworks:write
      summary: Delete Internal Network
      tags:
      - Internal Networks
    get:
      description: Get an internal network.
      operationId: getInternalNetwork
      parameters:
      - description: The origin ID (originId) of the internal network
        in: path
        name: internalNetworkId
        required: 'true'
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: 198.2.3.4
                modifiedAt: '2020-03-09T22:18:26.625Z'
                name: internal network label
                networkId: 2
                networkName: Internal network name
                originId: 1234
                prefixLength: 12
              schema:
                $ref: '#/components/schemas/InternalNetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internalnetworks:read
      summary: Get Internal Network
      tags:
      - Internal Networks
    put:
      description: Update an internal network.
      operationId: updateInternalNetwork
      parameters:
      - description: The origin ID (originId) of the internal network.
        in: path
        name: internalNetworkId
        required: 'true'
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/InternalNetworkRequestBody'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: An IP address
                modifiedAt: '2020-03-09T22:18:26.625Z'
                name: internal network label
                originId: 1234
                prefixLength: 24
                siteId: 2
                siteName: Site name
              schema:
                $ref: '#/components/schemas/InternalNetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - oauthFlow:
        - deployments.internalnetworks:write
      summary: Update Internal Network
      tags:
      - Internal Networks
  /deployments/v2/networkdevices:
    get:
      description: List the network devices.
      operationId: getAllNetworkDevices
      responses:
        '200':
          content:
            application/json:
              example:
              - createdAt: '2021-09-22T04:18:51.000Z'
                deviceId: 0123456789abcdef
                deviceKey: ModelName-0123456789ab
                name: APIDemoDevice
                organizationId: 1234
                originId: 35872943.0
                serialNumber: 12345a
              schema:
                $ref: '#/components/schemas/NetworkDeviceEntityList'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networkDevices500Error'
      security:
      - oauthFlow:
        - deployments.networkdevices:read
      summary: List Network Devices
      tags:
      - Network Devices
    post:
      description: Create a network device.
      operationId: createNetworkDevice
      requestBody:
        content:
          application/json:
            example:
              macAddress: 0123456789ab
              model: The model name of the device.
              name: A name for the device.
              serialNumber: 12345a
            schema:
              $ref: '#/components/schemas/NetworkDeviceCreate'
      responses:
        '201':
          content:
            application/json:
              example:
                createdAt: '2021-09-22T04:18:51.000Z'
                deviceId: 0123456789abcdef
                deviceKey: ModelName-0123456789ab
                name: APIDemoDevice
                organizationId: 1234
                originId: 35872943.0
                serialNumber: 12345a
              schema:
                $ref: '#/components/schemas/NetworkDeviceEntity'
          description: Created
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networkDevices500Error'
      security:
      - oauthFlow:
        - deployments.networkdevices:write
      summary: Create Network Device
      tags:
      - Network Devices
  /deployments/v2/networkdevices/{originId}:
    delete:
      description: Remove a network device.
      operationId: deleteNetworkDevice
      parameters:
      - $ref: '#/components/parameters/networkDeviceOriginIdParam'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networkDevices500Error'
      security:
      - oauthFlow:
        - deployments.networkdevices:write
      summary: Delete Network Device
      tags:
      - Network Devices
    get:
      description: Get a network device.
      operationId: getNetworkDevice
      parameters:
      - $ref: '#/components/parameters/networkDeviceOriginIdParam'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2021-09-22T04:18:51.000Z'
                deviceId: 0123456789abcdef
                deviceKey: ModelName-0123456789ab
                name: APIDemoDevice
                organizationId: 1234
                originId: 35872943.0
                serialNumber: 12345a
              schema:
                $ref: '#/components/schemas/NetworkDeviceEntity'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networkDevices500Error'
      security:
      - oauthFlow:
        - deployments.networkdevices:read
      summary: Get Network Device
      tags:
      - Network Devices
    patch:
      description: Update a network device.
      operationId: updateNetworkDevice
      parameters:
      - $ref: '#/components/parameters/networkDeviceOriginIdParam'
      requestBody:
        content:
          application/json:
            example:
              name: NetworkDevice01
            schema:
              $ref: '#/components/schemas/NetworkDevicePatch'
        description: Update the properties of the network device.
        required: 'true'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2021-09-22T04:18:51.000Z'
                deviceId: 0123456789abcdef
                deviceKey: ModelName-0123456789ab
                name: APIDemoDevice
                organizationId: 1234
                originId: 35872943.0
                serialNumber: 12345a
              schema:
                $ref: '#/components/schemas/NetworkDeviceEntity'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networkDevices500Error'
      security:
      - oauthFlow:
        - deployments.networkdevices:write
      summary: Update Network Device
      tags:
      - Network Devices
  /deployments/v2/networks:
    get:
      description: List the Networks in the organization.
      operationId: listNetworks
      parameters:
      - $ref: '#/components/parameters/paginationPageParam'
      - $ref: '#/components/parameters/paginationLimitParam'
      responses:
        '200':
          content:
            application/json:
              example:
              - createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: network ip address
                isDynamic: 'true'
                isVerified: 'true'
                name: network name
                originId: 1234
                prefixLength: 32
                status: OPEN
              schema:
                items:
                  $ref: '#/components/schemas/NetworkObject'
                type: array
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networks500Error'
      security:
      - oauthFlow:
        - deployments.networks:read
      summary: List Networks
      tags:
      - Networks
    post:
      description: Create a network. Before you can create a network, contact Support
        to get your IP range verified.
      operationId: createNetwork
      requestBody:
        content:
          application/json:
            example:
              isDynamic: 'true'
              name: network name
              prefixLength: 32
              status: OPEN
            schema:
              properties:
                ipAddress:
                  description: The IP address of the network.
                  type: string
                isDynamic:
                  description: Specifies whether the IP is dynamic.
                  type: boolean
                name:
                  description: The name of the network.
                  maxLength: 50
                  minLength: 1
                  type: string
                prefixLength:
                  $ref: '#/components/schemas/networksPrefixLength'
                status:
                  description: The status of the network.
                  pattern: ^(OPEN|CLOSED)$
                  type: string
              required:
              - name
              - prefixLength
              - isDynamic
              - status
              type: object
        required: 'true'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: network ip address
                isDynamic: 'true'
                isVerified: 'true'
                name: name of the network
                originId: 1234
                prefixLength: 32
                status: OPEN
              schema:
                $ref: '#/components/schemas/NetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: Shorthand error message
                    example: Forbidden
                    type: string
                  message:
                    description: Detailed error message
                    example: The IP address that you provided is outside of your verified
                      CIDR blocks.
                    type: string
                  statusCode:
                    description: HTTP status code
                    example: 403
                    type: integer
                type: object
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networks500Error'
      security:
      - oauthFlow:
        - deployments.networks:write
      summary: Create Network
      tags:
      - Networks
  /deployments/v2/networks/{networkId}:
    delete:
      description: Delete a network registered in the organization.
      operationId: deleteNetwork
      parameters:
      - $ref: '#/components/parameters/networkId'
      responses:
        '204':
          content:
            application/json:
              schema:
                nullable: 'true'
                type: string
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networks500Error'
      security:
      - oauthFlow:
        - deployments.networks:write
      summary: Delete Network
      tags:
      - Networks
    get:
      description: Get a Network registered in the organization.
      operationId: getNetwork
      parameters:
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: network ip address
                isDynamic: 'true'
                isVerified: 'true'
                name: network name
                originId: 1234
                prefixLength: 32
                status: OPEN
              schema:
                $ref: '#/components/schemas/NetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networks500Error'
      security:
      - oauthFlow:
        - deployments.networks:read
      summary: Get Network
      tags:
      - Networks
    put:
      description: Update a Network. Before you can update the network's IP address,
        contact Support to get your IP range verified.
      operationId: updateNetwork
      parameters:
      - $ref: '#/components/parameters/networkId'
      requestBody:
        content:
          application/json:
            example:
              isDynamic: 'true'
              name: network name
              status: OPEN
            schema:
              properties:
                ipAddress:
                  description: The IP address of the network.
                  minLength: 7
                  type: string
                isDynamic:
                  description: Specifies whether the IP address is dynamic.
                  type: boolean
                name:
                  description: The name of the network.
                  maxLength: 50
                  minLength: 1
                  type: string
                prefixLength:
                  $ref: '#/components/schemas/networksPrefixLength'
                status:
                  description: The status of the network.
                  pattern: ^(OPEN|CLOSED)$
                  type: string
              required:
              - name
              - isDynamic
              - status
              type: object
        description: Update a network.
        required: 'true'
      responses:
        '200':
          content:
            application/json:
              example:
                createdAt: '2020-03-09T22:18:26.625Z'
                ipAddress: network ip address
                isDynamic: 'true'
                isVerified: 'true'
                name: network name
                originId: 1234
                prefixLength: 32
                status: OPEN
              schema:
                $ref: '#/components/schemas/NetworkObject'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: Shorthand error message
                    example: Forbidden
                    type: string
                  message:
                    description: Detailed error message
                    example: The IP address you provided is outside of your verified
                      CIDR blocks
                    type: string
                  statusCode:
                    description: HTTP status code
                    example: 403
                    type: integer
                type: object
          description: Forbidden
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/networks500Error'
      security:
      - oauthFlow:
        - deployments.networks:write
      summary: Update Network
      tags:
      - Networks
  /deployments/v2/networktunnelgroups:
    get:
      description: 'List the Network Tunnel Groups in the organization.

        If you enable the `includeStatuses` query parameter in your API request,

        the response includes the `tunnelsStatus` field.

        The maximum number of items in a hub''s list of tunnel states (`tunnelsStatus`)
        is 10.'
      operationId: listNetworkTunnelGroups
      parameters:
      - $ref: '#/components/parameters/filtersNTGs'
      - $ref: '#/components/parameters/networkTunnelGroupsOffset'
      - $ref: '#/components/parameters/networkTunnelGroupsLimit'
      - $ref: '#/components/parameters/sortBy'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/includeStatuses'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - createdAt: '2024-06-12T18:04:23Z'
                  deviceType: ASA
                  hubs:
                  - authId: newyorkbranchtunnels123@123456-987654321.sse.cisco.com
                    datacenter:
                      name: us-east-1
                    id: 987654321.0
                    isPrimary: 'true'
                    status:
                      status: UP
                      time: '2025-02-05T17:53:05Z'
                    tunnelsCount: 5
                  - authId: newyorkbranchtunnels123@123456-147852369.sse.cisco.com
                    datacenter:
                      name: us-central-1
                    id: 147852369.0
                    isPrimary: 'false'
                    status:
                      status: DOWN
                      time: '2025-02-05T17:53:05Z'
                    tunnelsCount: 0
                  id: 4561237892.0
                  modifiedAt: '2024-06-25T15:21:32Z'
                  name: New York Branch Tunnels
                  organizationId: 123456
                  region: us-east-1
                  routing:
                    data:
                      networkCIDRs:
                      - 123.111.222.25/24
                      - 111.222.39.1/32
                    type: static
                  status: warning
                limit: 10
                offset: 0
                total: 1
              schema:
                $ref: '#/components/schemas/networkTunnelGroupsList'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        '400':
          $ref: '#/components/responses/400ListError'
        '401':
          $ref: '#/components/responses/networkTunnelGroups401Error'
        '403':
          $ref: '#/components/responses/networkTunnelGroups403Error'
        '500':
          $ref: '#/components/responses/networkTunnelGroups500Error'
      security:
      - oauthFlow:
        - deployments.networktunnelgroups:read
      summary: List Network Tunnel Groups
      tags:
      - Network Tunnel Groups
    post:
      description: Create a Network Tunnel Group in the organization.
      operationId: addNetworkTunnelGroup
      requestBody:
        $ref: '#/components/requestBodies/networkTunnelGroupCreateRequest'
      responses:
        '201':
          content:
            application/json:
              example:
                createdAt: '2024-06-12T18:04:23Z'
[...]
